
  /* Remove the navbar's default rounded borders and increase the bottom margin */
.navbar {
      margin-bottom: 20px;
      border-radius: 0;
    }

/* Remove the jumbotron's default bottom margin */

.header {
  background-color:rgb(241, 241, 241);
  text-align:center;
  overflow: hidden;
  padding: 20px 10px;
}

/* Add a gray background color and some padding to the footer */

footer {
  background-color: #f2f2f2;
  padding: 25px;
}

.carousel-inner>.item>img,
.carousel-inner>.item>a>img {
  width: 70%;
  margin: auto;
}

.sidenav {
      padding-top: 20px;
      background-color: #f2f2f2;
	  position:sticky;
	  top: 0;
}
    
.errormessage{
  float: right;
  color:#ff0000;
}
.scrollable{
    height: 450px;
    overflow: auto;
}
.sucessMessage{
	display:none;
	color:#66ff66;
}
#statusSelect{
	margin : 15px;
}
#generatePdf{
	margin : 8px;
}
#pdfTable{
	width:100%;
	text-align:center;
	border:2px solid black;
	border-collapse:collapse;
}